*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 10px;
    font-size: 1.2rem;
    background-color: rgb(17, 20, 182);
    color: white;
    border-radius: 1rem;
}

.btn:hover{
    background-color: teal;
}
